NODE_ENV=development
VUE_APP_ENV_NAME=develop

# HK API
VUE_APP_HK_API_ROOT=https://api.harmlesskey.com

# Firebase
VUE_APP_FIREBASE_API_KEY=FIREBASE_API_KEY
VUE_APP_FIREBASE_AUTH_DOMAIN=auth.domain
VUE_APP_FIREBASE_DATABASE_URL=https://firebase.db.url
VUE_APP_FIREBASE_PROJECT_ID=PROJECT_ID
VUE_APP_FIREBASE_STORAGE_BUCKET=storage_bucket.domain
VUE_APP_FIREBASE_MESSAGING_SENDER_ID=SENDER_ID

# Patreon
VUE_APP_PATREON_CLIENT_ID=PATREON_KEY
VUE_APP_PATREON_CLIENT_SECRET=PATREON_SECRET

# AI Monster Generator
MONSTER_GENERATOR_URL=https://ai.shieldmaiden.app
MONSTER_GENERATOR_API_KEY=AI_API_KEY

# If developing Character Sync locally add:
# LOCAL_CHARACTER_SYNC_ID="extension-id"
