// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #2c97de;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #262626;

$positive  : #83b547;
$negative  : #cc3e4a;
$info      : #c1b947;
$warning   : #e76d3b;

@import '~quasar-variables-styl'
