/* Colors */
/*********************************************/
$black: #000;
$neutral-1: #fff;

/* Greens */
/*********************************************/
//$green: #83b547;
// $green-light: #9ac16a;
$green: #a2ff9e;
$green-dark: #8dd294;
$green-darker: #6ab082;
$green-darkest: #6b8a6b;
$green-light: #dcffde;
$green-lighter: #efffec;

/* Blues */
/*********************************************/
// $blue: #2c97de;
// $blue-light: #88b3ce;
// $blue-hover: #247db7;
$blue: #96dadf;
$blue-dark: #6dcbd0;
$blue-darker: #4cb5bc;
$blue-darkest: #3fa3ad;
$blue-light: #c5eaf4;
$blue-lighter: #e0fbfb;

$facebook-blue: #3c5a99;

/* Reds */
/*********************************************/
// $red: #cc3e4a;
// $red-light: #c45e66;
// $red-hover: #a3303a;

$red: #ff819b;
$red-dark: #ff517b;
$red-darker: #e2456b;
$red-darkest: #d42758;
$red-light: #ffcfe3;
$red-lighter: #ffe2ef;

$patreon-red: #e85b46;

/* Oranges */
/*********************************************/
// $orange: #e76d3b;
// $orange-light: #db815e;

$orange: #ffccaf;
$orange-dark: #ffad84;
$orange-darker: #e2845c;
$orange-darkest: #d1774a;
$orange-light: #ffeadd;
$orange-lighter: #fff4ed;

/* Yellows */
/*********************************************/
$yellow: #c1b947;
$yellow-light: #e2da5f;

/* Others */
/*********************************************/
$purple: #9b7aba;
