/* 1. Variables */
/*********************************************/
$neutral-11: #080808;
$neutral-10: #191a1c;
$neutral-9: #202225;
$neutral-8: #292B2F;
$neutral-7: #2F3136;
$neutral-6: #36393F;
$neutral-5: #3E4249;
$neutral-4: #72767D;
$neutral-3: #8E9297;
$neutral-2: #B9BBBE;
$neutral-1: #FFFFFF;


$gray: #262626;
$gray-darker: #232323;
$gray-dark: #191919;
$gray-light: #b2b2b2;
$gray-hover: #5c5757;
$gray-active: #302f2f;
$black: #000;
$white: #FFF;
$green: #83b547;
$green-hover: #9ddb51;
$blue: #2c97de;
$blue-hover: #36a9f5;
$facebook-blue: #3C5A99;
$red: #cc3e4a;
$red-hover: #e8414f;
$patreon-red: #e85b46;
$discord-purple: #7289DA;
$orange: #e76d3b;
$yellow: #c1b947;
$purple: #9b7aba;
$blue-light: #88b3ce;
$green-light: #9ac16a;
$orange-light: #db815e;
$red-light: #c45e66;
$yellow-light: #e2da5f;

$copper: #e76d3b;
$silver: #dbdbdb;
$electrum: #a2bade;
$gold: #e2da5f;
$platinum: #fff;


//damage type colors
$acid: #83b547;
$bludgening: #6d6767;
$cold: #3b93ce;
$fire:  #e63f21;
$force:  #772caa;
$lightning:  #88b3ce;
$necrotic:  #614c75;
$piercing:  #6d6767;
$poison:  #83b547;
$psychic:  #e63f21;
$radiant:  #e2da5f;
$slashing:  #6d6767;
$thunder:  #e63f21;

// Styling
$header-height: 50px;
$border-radius: 3px;