:root {
	color-scheme: dark;
	--neutral-11: #080808; // custom
	--neutral-10: #191a1c; //custom
	--neutral-9: #202225; // Server sidebar
	--neutral-8: #292b2f; // Sidebar Bottom
	--neutral-7: #2f3136; // Sidebar
	--neutral-6: #36393f; // Main background
	--neutral-5: #3e4249;
	--neutral-4: #72767d; // Sidebar icon
	--neutral-3: #8e9297; // Sidebar text
	--neutral-2: #b9bbbe; // Icons header
	--neutral-1: #ffffff; // Text

	--neutral-6-transparent: rgba(54, 57, 63, 0.9);
	--neutral-6-transparent-8: rgba(54, 57, 63, 0.8);
	--neutral-6-transparent-7: rgba(54, 57, 63, 0.7);

	--neutral-8-transparent: rgba(41, 43, 47, 0.9);
	--neutral-8-transparent-8: rgba(41, 43, 47, 0.8);

	--black: #000;
	--white: #fff;

	--green: #83b547;
	--green-hover: #9ddb51;
	--blue: #2c97de;
	--blue-hover: #36a9f5;
	--facebook-blue: #3c5a99;
	--google-blue: #4285f4;
	--red: #cc3e4a;
	--red-hover: #e8414f;
	--patreon-red: #e85b46;
	--discord-purple: #5865f2;
	--orange: #e76d3b;
	--yellow: #c1b947;
	--purple: #9b7aba;
	--blue-light: #88b3ce;
	--green-light: #9ac16a;
	--orange-light: #db815e;
	--red-light: #c45e66;
	--yellow-light: #e2da5f;
	--yellow-dark: #87801b;

	--copper: #e76d3b;
	--silver: #dbdbdb;
	--electrum: #a2bade;
	--gold: #e2da5f;
	--platinum: #fff;

	//damage type colors
	--acid: #83b547;
	--bludgeoning: #a5aab4;
	--cold: #3b93ce;
	--fire: #e63f21;
	--force: #772caa;
	--lightning: #88b3ce;
	--necrotic: #614c75;
	--piercing: #a5aab4;
	--poison: #83b547;
	--psychic: #e63f21;
	--radiant: #e2da5f;
	--slashing: #a5aab4;
	--thunder: #e63f21;

	// Styling
	--font-size: 15px;
	--header-height: 50px;
	--border-radius: 4px;
	--border-radius-small: 3px;
}

// Possible light theme
[data-theme="light"] {
	color-scheme: light;
	--neutral-11: #ffffff;
	--neutral-10: #eeeeee;
	--neutral-9: #e3e5e8;
	--neutral-8: #dcdee0;
	--neutral-7: #f2f3f5;
	--neutral-6: #ffffff;
	--neutral-5: #9ea5b1;
	--neutral-4: #747f8d;
	--neutral-3: #6a7480;
	--neutral-2: #4f5660;
	--neutral-1: #060607;

	--neutral-6-transparent: rgba(255, 255, 255, 0.9);
	--neutral-6-transparent-8: rgba(255, 255, 255, 0.8);
	--neutral-6-transparent-7: rgba(255, 255, 255, 0.7);

	--neutral-8-transparent: rgba(220, 222, 224, 0.9);
	--neutral-8-transparent-8: rgba(220, 222, 224, 0.8);

	--radiant: #e2da5f;
}

/* 1. Variables */
/*********************************************/
$neutral-11: var(--neutral-11);
$neutral-10: var(--neutral-10);
$neutral-9: var(--neutral-9);
$neutral-8: var(--neutral-8);
$neutral-7: var(--neutral-7);
$neutral-6: var(--neutral-6);
$neutral-5: var(--neutral-5);
$neutral-4: var(--neutral-4);
$neutral-3: var(--neutral-3);
$neutral-2: var(--neutral-2);
$neutral-1: var(--neutral-1);

$neutral-6-transparent: var(--neutral-6-transparent);
$neutral-6-transparent-8: var(--neutral-6-transparent-8);
$neutral-6-transparent-7: var(--neutral-6-transparent-7);

$neutral-8-transparent: var(--neutral-8-transparent);
$neutral-8-transparent-8: var(--neutral-8-transparent-8);

$black: var(--black); // Keep
$white: var(--white); // Keep

$green: var(--green);
$green-hover: var(--green-hover);
$blue: var(--blue);
$blue-hover: var(--blue-hover);
$facebook-blue: var(--facebook-blue);
$google-blue: var(--google-blue);
$red: var(--red);
$red-hover: var(--red-hover);
$patreon-red: var(--patreon-red);
$discord-purple: var(--discord-purple);
$orange: var(--orange);
$yellow: var(--yellow);
$purple: var(--purple);
$blue-light: var(--blue-light);
$green-light: var(--green-light);
$orange-light: var(--orange-light);
$red-light: var(--red-light);
$yellow-light: var(--yellow-light);
$yellow-dark: var(--yellow-dark);

$copper: var(--copper);
$silver: var(--silver);
$electrum: var(--electrum);
$gold: var(--gold);
$platinum: var(--platinum);

//damage type colors
$acid: var(--acid);
$bludgeoning: var(--bludgeoning);
$cold: var(--cold);
$fire: var(--fire);
$force: var(--force);
$lightning: var(--lightning);
$necrotic: var(--necrotic);
$piercing: var(--piercing);
$poison: var(--poison);
$psychic: var(--psychic);
$radiant: var(--radiant);
$slashing: var(--slashing);
$thunder: var(--thunder);

// Styling
$font-size: var(--font-size);
$header-height: var(--header-height);
$border-radius: var(--border-radius);
$border-radius-small: var(--border-radius-small);
$text-written: "Fredericka the Great", cursive;
$outline: var(--neutral-2) solid 3px;

// Breakpoints
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
